body {
	color: #c8c8c8;
	background-image: url(images/fond.gif);
}
.views-row-even {
	clear: right;
}
.views-row-odd {
	/*clear: left;*/
}
.views-row {
	float: left;
	width: 460px;
	height: 783px;
	margin: 10px 8px;
}
.horizontal-tabs fieldset.horizontal-tabs-pane,
div.horizontal-tabs {
	background-color: #EEE;
}
#content-wrapper h1 {
	display: none;
}
#block-system-main-menu li {
	float: left;
	margin: 0 18px 18px;
}
.breadcrumb {
	display: none;
}
.fieldset-wrapper {
	margin-top: 0 !important;
	padding: 0;
}
fieldset {
	margin: 0;
}
h1 {
	font-size: 35px;
	line-height: 36px;
	margin-bottom: 14px;
}
.field-name-field-resume {
	font-family: 'MyUnderwoodRegular';
	font-size: 15px;
}
.field-item {
	margin-bottom: 14px;
}
.field-name-field-description-page-1 .field-item,
.field-name-field-description-page-2 .field-item,
.field-name-field-description-page-3 .field-item,
.field-name-field-description-page-4 .field-item,
.field-name-field-description-page-5 .field-item,
.field-name-field-description-page-6 .field-item,
.field-name-field-description-page-7 .field-item,
.field-name-field-description-page-8 .field-item {
	font-size: 15px;
	font-family: 'ArtifikaMedium';
	line-height: 24px;
	color: #181818;
	font-weight: normal;
}
a, a:visited {
	text-decoration: none;
	outline: 0;
	color: #F48E34;
	font-weight: bold;
}
#page-title {
	margin: 30px 0;
	text-align: center;
}
.field-name-title-field {
	font-size: 19px;
	text-decoration: none;
	outline: 0;
	color: #77360B;
	font-weight: bold;
	font-family: 'ArtifikaMedium';
}
#node_site_teaser_group_entete {
	padding: 5px;
	background-color: #F8F8F8;
	margin-bottom: 0;
}
.field-name-field-titre-avec-lien {
	font-size: 19px;
}
#block-block-1 {
	text-align: center;
}
#block-mec-lang-link-mec-lang-link {
  text-align: center;
  clear: both;
  width: 60px;
  margin: 0 auto;
}
#block-mec-lang-link-mec-lang-link li.active {
  display: none;
}
div#block-system-main-menu {
  clear: both;
}
.horizontal-tabs ul.horizontal-tabs-list li {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    background-color: white;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 5em;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected {
    background-color: #EEEEEE;
}
.container .sixteen.columns {
	width: 960px;
}.horizontal-tabs ul.horizontal-tabs-list {
	background-color: #EAEAEA;
}
body {
	background-color: #181818;
}
p, h1, h2, h3, h4, h5, h6 {
	color: #E8E8E8;
}
#header,
#footer {
	color: white;
}
.field-name-field-libelle {
	float: left;
	margin-right: 20px;
}
